name: Java CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    if: startsWith(github.event.head_commit.message, '[CI skip]') == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3.0.2
      - name: Set up JDK 16
        uses: actions/setup-java@v3.4.1
        with:
          java-version: 16
          distribution: temurin
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@859c33240bd026ce8d5f711f5adcc65c2f8eafc1
      - name: Build with Gradle
        uses: gradle/gradle-build-action@356abb47e7664b5505e25d7997a5a522a17c62d9
        with:
          arguments: build
      - name: Get build artifact ready
        run: mkdir staging && cp build/libs/*.jar staging
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.0
        with:
          name: dev-build
          path: staging
