name: Java CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    if: startsWith(github.event.head_commit.message, '[CI skip]') == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3.6.0
      - name: Set up JDK 17
        uses: actions/setup-java@v3.12.0
        with:
          java-version: 17
          distribution: temurin
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1.1.0
      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2.7.1
        with:
          arguments: build
      - name: Get build artifact ready
        run: mkdir staging && cp build/libs/*.jar staging
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.3
        with:
          name: dev-build
          path: staging
