name: Java CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    if: startsWith(github.event.head_commit.message, '[CI skip]') == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2
      - name: Set up JDK 8
        uses: actions/setup-java@v3.1.1
        with:
          java-version: 8
          distribution: adopt
      - name: Build with Maven
        run: mvn package --file pom.xml
